{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    {% block title %} Welcome to PySeisTuned{% endblock %}
    <!-- load custom javascripts for page functionality which include: -->
    <!-- 1) enable bootstrap tooltip via Popper.js (already loaded in base.html), -->
    <!-- 2) update Acoustic Impedance field when Vp & Density input, -->
    <!-- 3) update Fpeak when Ricker Fcentral entered, -->
    <!-- 4) toggle Fpeak visible when Ricker wavelet selected, & -->
    <!-- 5) clear input fields when reset button is clicked -->
    <script type="text/javascript" src="/static/js/index_scripts.js"></script>
    <!-- Style for bootstrap tooltip to align text left and set font size -->
    <style>
        .tooltip-inner {
            text-align: left;
            font-size: 12px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Welcome to PySeisTuned<sup>2.0</sup></h1>
    <p>
        Calculate seismic tuning on the web!
    </p>
    <!-- Tuning Wedge Inputs -->
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <!-- Rock Properties -->
        <div class="form-row">
            <div class="col-sm">
                <h4>Rock Property Parameters</h4>
                <div class="form-row row-cols-4">
                    <div class="col-sm"></div>
                    <div class="col-sm"><strong>Vp</strong></div>
                    <div class="col-sm"><strong>Density (g/cm<sup>3</sup>)</strong></div>
                    <div class="col-sm" style="color: grey;">Acoustic Impedance</div>
                </div>
                <div class="form-row row-cols-4">
                    <div class="col-sm">
                        Top & Base
                    </div>
                    <div class="col-sm">
                        {{ form.layer_1_vp(class_='form-control', id='vp1', oninput='updateAcousticImpedance()') }}
                        {% for error in form.layer_1_vp.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-sm">
                        {{ form.layer_1_dens(class_='form-control', id='rho1', oninput='updateAcousticImpedance()') }}
                        {% for error in form.layer_1_dens.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-sm">
                        {{ form.layer_1_impedance(class_='form-control-plaintext', id='imp1', placeholder='', readonly=true, tabindex='-1', style='color: grey;') }}
                    </div>
                </div>
                <div class="form-row row-cols-4">
                    <div class="col-sm">
                        Wedge
                    </div>
                    <div class="col-sm">
                        {{ form.layer_2_vp(class_='form-control', id='vp2', oninput='updateAcousticImpedance()') }}
                        {% for error in form.layer_2_vp.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-sm">
                        {{ form.layer_2_dens(class_='form-control', id='rho2', oninput='updateAcousticImpedance()') }}
                        {% for error in form.layer_2_dens.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-sm">
                        {{ form.layer_2_impedance(class_='form-control-plaintext', id='imp2', placeholder='', readonly=true, tabindex='-1', style='color: grey;') }}
                        {% for error in form.layer_2_impedance.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row row-cols-4" style="padding-top:10px;">
                    <div class="col-sm">
                        {{ form.vp_units.label }}
                    </div>
                    <div class="col-sm">
                        {% for field in form.vp_units %}
                        {{ field(tabindex='-1') }} {{ field.label }}
                        {% endfor %}
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                </div>
            </div>
        </div>
        <!-- Wavelet parameters -->
        <div class="form-row">
            <div class="col-sm">
                <h4>Wavelet Parameters</h4>
                <div class="form-row row-cols-3">
                    <div class="col-sm">
                        {{ form.wv_type.label }}
                    </div>
                    <div class="col-sm">
                        {{ form.wv_type(id='wvType', onchange='toggleShowFPeak()', tabindex='-1') }}
                    </div>
                </div>
                <div class="form-row row-cols-3">
                    <div class="col-sm">
                        {{ form.frequency.label }}
                    </div>
                    <div class="col-sm-3">
                        {{ form.frequency(class_='form-control', id='freqC', oninput='updatePeakFrequency(this)', data_toggle="tooltip", data_placement="bottom", title="Ricker: enter central frequency<br /><br />Ormsby: enter comma separated frequencies F1, F2, F3, F4") }}
                        {% for error in form.frequency.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control-plaintext" id="freqPeak" type="text" placeholder="Fpeak" tabindex='-1' readonly style="color: grey;">
                    </div>
                </div>
                <div class="form-row row-cols-3">
                    <div class="col-sm">
                        {{ form.wv_length.label }}
                    </div>
                    <div class="col-sm">
                        {{ form.wv_length(class_='form-control', id='wvLen') }}
                        {% for error in form.wv_length.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row row-cols-3">
                    <div class="col-sm">
                        {{ form.wv_dt.label }}
                    </div>
                    <div class="col-sm">
                        {{ form.wv_dt(class_='form-control', id='wvdt') }}
                        {% for error in form.wv_dt.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <!-- calculate button -->
                <div class="form-row">
                    <div class="col-sm"></div>
                    <div class="col-sm" style="padding-top:10px;">
                        {{ form.submit(class_='btn btn-primary') }} <button class="btn btn-outline-primary" name="reset" type="button" value="Reset" onclick="resetForm();toggleShowFPeak();">Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </form>
{% endblock %}